/*
!/.gitignore
!/settings.gradle.kts
!/build.gradle.kts
!/gradlew
!/gradlew.bat
!/gradle
!/build-extensions
!/gradle.properties

!/common
!/neoforge
!/fabric
!/compile-hacks

/*/.gradle
/*/build
/*/.kotlin
/*/*/.gradle
/*/*/build
/*/*/.kotlin

/*/*/run
